@page "/"

<div class="board-container">
    @for (int i = 0; i < HeaderBoxes.Count; i++)
    {
        var box = HeaderBoxes[i];

        <div class="header" @onclick="() => PlayTurn(box)"></div>
    }

    @for (int i = 0; i < Boxes.Count; i++)
    {
        var box = Boxes[i];

        <div class="box play-area">
            @if (box.OccupiedBy != null)
            {
                if (box.OccupiedBy == User)
                {
                    <div class="game-piece" style="background-color: purple"></div>
                }
                else
                {
                    <div class="game-piece" style="background-color: black"></div>
                }
            }
        </div>
    }
</div>
<div>
    <span>Wins: @Wins</span>
    <span>Losses: @Losses</span>
    <span>Draws: @Draws</span>
</div>
@if (Winner != null)
{
    <span>@Winner wins!</span>
    <button @onclick="ResetBoard">Play Again</button>
}
