
.page-container {
    padding: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.word-grid {
    border: solid 1px white;
    border-radius: 5px;
    width: fit-content;
    padding: 25px;
    display: grid;
    background-color: rgba(255, 255, 255, .2);
}

.easy-grid {
    grid-template-columns: repeat(15, auto); 
}

.word-box{
    padding: 0 5px;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .word-box:hover {
        background-color: rgba(255, 255, 255, .2);
    }

.glossary {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;
    border: solid 1px white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .2);
    padding: 15px;
    margin-top: 15px;
}