@inherits LayoutComponentBase

<PageTitle>ConnectFour</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="main-body">
            @Body
        </div>
    </main>
</div>
